// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";

body {
  background: #E9E9E9;
}

ul {
  list-style: none;
}

.top-bar {
  background: #FFFFFF;
  height: 3rem;

  .title-area .name a {
    color: #84878B;
    font-size: 1.1rem;

  }
}

nav {
  border-bottom: 1px solid #E1E3DF;

  .top-bar-section .right {
    // border-bottom: 1px solid #cccccc;
    height: 25px;

    li {
      margin-left: 15px;
     } 
  }

  .top-bar-section li a:not(.button) {
      background: #FFFFFF !important;
      color: #84878B; 
      font-size: 0.90rem 
  }

  .top-bar-section li a:not(.button):hover {
      background: #FFFFFF !important;
      color: #84878B;   
  }

  .top-bar-section ul li.active > a {
      background: #FFFFFF !important;   
  }

  .top-bar-section ul li.active > a:hover {
      background: #FFFFFF !important;   
  }
}


.container {
  width: 400px;
  margin: 20px auto;

  .home {
    height: 500px;
    width: 400px;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 40px;


    h5 {
      margin-top: 0;
    }

    .comments {
    margin-left: 0;

    li {
      font-size: 15px;
      color: #666666;
    }
  }

  }

  .add {

    input {
      border-radius: 4px;
    }

    button {
      background-color: #AFAFAF;
      border-radius: 4px;
      padding: 10px 26px 11px 26px;  
      font-size: 16px;
    }

    textarea {
      height: 150px;
    }
  }

  

}