// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";

body {
  background: #E9E9E9;
}

ul {
  list-style: none;
}

.container {
  width: 350px;
  margin: 20px auto;

  input {
    border-radius: 4px;
  }

  button {
    background-color: #AFAFAF;
    border-radius: 4px;
  }
}